@import '../../styles/colors.scss';

.inputWrap {
  display: flex;
  align-items: center;

  position: relative;

  margin-top: 1rem;

  input {
    width: 100%;

    line-height: 2.5rem;
    border-radius: .25rem;
    border: .0625rem solid $black;

    padding: 0 2.5rem 0 0.5rem;

    &.statusError {
      border-color: $primaryLight;

      &:focus {
        outline-color: $primaryLight;
      }
    }
  }

  .status {
    display: block;

    width: 1rem;
    height: 1rem;

    background: $statusSucessed;
    border-radius: 50%;

    position: absolute;
    right: 0.5rem;

    cursor: help;

    &.statusError {
      background: $statusError;
    }
  }
}
